body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.card {
    width: 400px;
    max-width: 100%;
}

.card-image img {
    height: 100px;
    object-fit: cover;
    object-position: center;
}

.card-content .row {
    margin: 0;
}


.card .card-image .card-title {
    font-weight: bold;
    text-shadow: 2px 2px 3px black;
    padding-bottom: 12px;
}